*{
  padding: 0;
  margin: 0;
}
.app-container{
  display: flex; 
  width: 60vw;
  height: 100vh;
  margin: 0 auto;
  /* background-color: lightyellow; */
}
.left-panel{
  display: flex;
  flex-direction: column;
  /* background-color: brown; */
  padding: 2em;
}
.right-panel{
  padding: 2em;
  width: 100%;
  max-width: 100%;
}

.add-button{
  width: 1em;
}
.sort-items{
  display: flex;
  margin-top: 1em;
  justify-content: space-around;
}

.sort-items * {
  margin-left: .2em;
  margin-right: .2em
}

.list-item{
  display:flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.list-item > p {
  user-select: none;
  width: 100%;

  padding: 1em;
}

.list-item > div{
  position: absolute;
  right: 1em;
}

.list-item--selected{
  transition: .3s all;
  transform: scale(1.1);
  background-color: #EEE;
  border-radius: .5em;
}

.list-item:active{
  transition: .1s all;
  transform: scale(.98);
}

.note-list{
  margin-top:2em;
}

.note-page{
  max-width: 100%;
}

.note-edit{
  margin-top: 1em;
}

.note-view{
  margin-top: 1em;
  word-wrap: break-word;
}
.tarea{
  width: 100%;
}